<card-template title="Endereço" [cardBodyContent]="userAddress" cardBodyId="userAddress"
    *ngIf="userAddressHasData() || isLoggedUserProfile">
    <ng-template #userAddress>
        <!-- address -->
        <div *ngIf="profile.address && (!isFormEdition || isSubmitted)">
            <div class="d-flex" *ngIf="userAddressHasData();else messageBlock">
                <div class="d-inline-flex flex-column">
                    <span *ngIf="profile.address.zipCode"><strong>CEP: </strong>{{profile.address.zipCode}}</span>
                    <span *ngIf="profile.address.state"><strong>Estado: </strong>{{profile.address.state}}</span>
                    <span *ngIf="profile.address.city"><strong>Cidade: </strong>{{profile.address.city}}</span>
                    <span *ngIf="profile.address.district"><strong>Bairro: </strong>{{profile.address.district}}</span>
                    <span *ngIf="profile.address.name"><strong>Endereço: </strong>{{profile.address.name}}</span>
                </div>

                <div class="ml-auto" *ngIf="isLoggedUserProfile">
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="editForm()">Editar</button>
                </div>
            </div>

            <ng-template #messageBlock>
                <div class="alert alert-warning m-auto w-75 text-center">
                    <p>Sem informações sobre endereço.</p>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="editForm()">Adicionar</button>
                </div>
            </ng-template>
        </div>
        <!-- edit address -->
        <form *ngIf="isFormEdition && !isSubmitted" #userAddressForm="ngForm"
            (ngSubmit)="userAddressForm.form.valid && onSubmit();">

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="zipCode">CEP:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="zipCode" id="zipCode"
                    [(ngModel)]="model.address.zipCode" #zipCode="ngModel" required>
                <validation-message [inputControl]="zipCode"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="state">Estado:</label>
                <input class="form-control form-control-sm col-12 col-md-3" name="state" id="state"
                    [(ngModel)]="model.address.state" #state="ngModel" required>
                <validation-message [inputControl]="state"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="city">Cidade:</label>
                <input class="form-control form-control-sm col-12 col-md-3" name="city" id="city"
                    [(ngModel)]="model.address.city" #city="ngModel" required>
                <validation-message [inputControl]="city"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="district">Bairro:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="district" id="district"
                    [(ngModel)]="model.address.district" #district="ngModel" required>
                <validation-message [inputControl]="district"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="name">Endereço:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="name" id="name"
                    [(ngModel)]="model.address.name" #name="ngModel" required>
                <validation-message [inputControl]="name"></validation-message>
            </div>

            <div class="form-row my-2">
                <div class="col-12 col-md-5 pr-0 text-right">
                    <button class="btn btn-outline-danger mr-1" (click)="cancelForm()">Cancelar</button>
                    <button class="btn btn-outline-primary ml-1"
                        [disabled]="!userAddressForm.form.valid">Salvar</button>
                </div>
            </div>
        </form>
    </ng-template>
</card-template>