<card-template title="Endereço" [cardBodyContent]="userAddress" cardBodyId="userAddress">
    <ng-template #userAddress>
        <!-- address -->
        <div class="d-flex" *ngIf="!isFormEdition || isSubmitted">
            <div class="d-inline-flex flex-column">
                <span><strong>CEP: </strong>{{address.zipCode}}</span>
                <span><strong>Estado: </strong>{{address.state}}</span>
                <span><strong>Cidade: </strong>{{address.city}}</span>
                <span><strong>Bairro: </strong>{{address.district}}</span>
                <span><strong>Endereço: </strong>{{address.name}}</span>
            </div>
            <div class="ml-auto" *ngIf="isLoggedUserProfile">
                <button type="button" class="btn btn-outline-primary btn-sm"
                    (click)="isFormEdition = true; isSubmitted = false">Editar</button>
            </div>
        </div>
        <!-- edit address -->
        <form *ngIf="isFormEdition && !isSubmitted" #userAddressForm="ngForm"
            (ngSubmit)="userAddressForm.form.valid && onSubmit();">

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="inputCep">CEP:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="zipCode" id="zipCode"
                    [ngModel]="model.zipCode" #zipCode="ngModel" required>
                <validation-message [inputControl]="zipCode"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="selectState">Estado:</label>
                <input class="form-control form-control-sm col-12 col-md-3" name="state" id="state"
                    [ngModel]="model.state" #state="ngModel" required>
                <validation-message [inputControl]="state"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="selectCity">Cidade:</label>
                <input class="form-control form-control-sm col-12 col-md-3" name="city" id="city" [ngModel]="model.city"
                    #city="ngModel" required>
                <validation-message [inputControl]="city"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="inputNeighborhood">Bairro:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="district" id="district"
                    [ngModel]="model.district" #district="ngModel" required>
                <validation-message [inputControl]="district"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="inputAddress">Endereço:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="name" id="name"
                    [ngModel]="model.name" #name="ngModel" required>
                <validation-message [inputControl]="name"></validation-message>
            </div>

            <div class="form-row my-2">
                <div class="col-12 col-md-5 pr-0 text-right">
                    <button class="btn btn-outline-danger mr-1" (click)="isFormEdition = false">Cancelar</button>
                    <button class="btn btn-outline-primary ml-1" [disabled]="!userAddressForm.form.valid">Salvar</button>
                </div>
            </div>
        </form>
    </ng-template>
</card-template>