<div>
	<!-- Application navigation bar -->
	<nav class="navbar navbar-light navbar-expand-md fixed-top px-5 navbar-bg">
		<!-- Application brand logo -->
		<span class="navbar-brand">3 JOBS</span>

		<!-- collapse button, for mobile devices -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-options"
			aria-controls="navbar-options" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- navbar options -->
		<div class="collapse navbar-collapse" id="navbar-options">
			<ul class="navbar-nav ml-auto text-uppercase font-weight-bold">
				<li class="navbar-item" data-target="#homeCarousel" data-slide-to="0">
					<a class="nav-link cursor-pointer" (click)="currentSection = 'home'"
						[ngClass]="{'active': currentSection === 'home'}">Inicio</a>
				</li>
				<li class="navbar-item" data-target="#homeCarousel" data-slide-to="1">
					<a class="nav-link cursor-pointer" (click)="currentSection = 'about'"
						[ngClass]="{'active': currentSection === 'about'}">O que é a 3 jobs?</a>
				</li>
				<li class="navbar-item" data-target="#homeCarousel" data-slide-to="2">
					<a class="nav-link cursor-pointer" (click)="currentSection = 'feedback'"
						[ngClass]="{'active': currentSection === 'feedback'}">Deixe sua opnião</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Landing background -->
	<div class="home-inner pt-5 pt-md-1" [ngClass]="currentSection === 'home' ? 'home-section-bg' : 'sections-bg'">

		<div id="homeCarousel" class="carousel slide h-100 m-3 m-md-0" data-interval="false">
			<div class="carousel-inner h-100">
				<div class="carousel-item h-100 active">
					<!-- home section -->
					<app-home-section></app-home-section>
				</div>
				<div class="carousel-item h-100">
					<!-- about section -->
					<app-about-section></app-about-section>
				</div>

				<div class="carousel-item h-100">
					<!-- feedback section -->
					<div id="feedback" class="container-fluid h-100">
						<div class="row h-100 align-items-center">
							<div class="col-12 center-block text-center text-white">
								feedback
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>