<div data-spy="scroll" data-target="#navbar-options">
	<!-- home section -->
	<div id="home">
		<!-- Application navigation bar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-light-black fixed-top">
			<!-- Application brand logo -->
			<a href="#" class="navbar-brand">brand</a>

			<!-- collapse button, for mobile devices -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-options"
				aria-controls="navbar-options" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- navbar options -->
			<div class="collapse navbar-collapse" id="navbar-options">
				<ul class="navbar-nav ml-auto text-uppercase">
					<li class="navbar-item">
						<a href="#home" class="nav-link">home</a>
					</li>
					<li class="navbar-item"><a href="#about" class="nav-link">Sobre nós</a></li>
					<li class="navbar-item"><a href="#testimonials" class="nav-link">Depoimentos</a></li>
					<li class="navbar-item"><a href="#rank" class="nav-link">Rank</a></li>
				</ul>
			</div>
		</nav>
		<!-- Landing background -->
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner"></div>
			</div>
		</div>
		<!-- Landing caption -->
		<div class="caption center-block text-center text-white">
			<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
			<a href="#" class="btn btn-outline-light">Lorem</a>
		</div>
	</div>

	<!-- about section -->
	<div id="about">
		<h3>Sobre nós</h3>
	</div>

	<!-- testimonials section -->
	<div id="testimonials">
		<h3>Depoimentos</h3>
	</div>

	<!-- rank section -->
	<div id="rank">
		<h3>Rank</h3>
	</div>

</div>