<card-template title="Dados pessoais" [cardBodyContent]="personalData" cardBodyId="personalData" *ngIf="personalDataHasData() || isLoggedUserProfile">
    <ng-template #personalData>
        <!-- personal data -->
        <div class="d-flex" *ngIf="!isFormEdition || isSubmitted">
            <div class="d-inline-flex flex-column" *ngIf="personalDataHasData(); else messageBlock">
                <span *ngIf="profile.dateOfBirth"><strong>Idade: </strong>{{ profile.dateOfBirth | age }}</span>
                <span *ngIf="profile.maritalStatus"><strong>Estado Civil: </strong>{{ profile.maritalStatus }}</span>
                <span *ngIf="profile.nationality"><strong>Nacionalidade: </strong>{{ profile.nationality }}</span>
            </div>
            <ng-template #messageBlock>
                <div class="alert alert-warning m-auto w-75 text-center">Sem informações sobre dados pessoais.</div>
            </ng-template>
            <div class="ml-auto" *ngIf="isLoggedUserProfile">
                <button type="button" class="btn btn-outline-primary btn-sm"
                    (click)="isFormEdition = true; isSubmitted = false">Editar</button>
            </div>
        </div>
        <!-- edit personal data -->
        <form *ngIf="isFormEdition && !isSubmitted" #profileForm="ngForm"
            (ngSubmit)="profileForm.form.valid && onSubmit();">
            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="dateOfBirth">Nascimento:</label>
                <input type="date" class="form-control form-control-sm col-12 col-md-3 mr-2" name="dateOfBirth"
                    id="dateOfBirth" [ngModel]="model.dateOfBirth | date: 'yyyy-MM-dd'"
                    (ngModelChange)="model.dateOfBirth = $event" #dateOfBirth="ngModel">
                <validation-message [inputControl]="dateOfBirth"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="maritalStatus">Estado Civil:</label>
                <input class="form-control form-control-sm col-12 col-md-3 mr-2" name="maritalStatus" id="maritalStatus"
                    [(ngModel)]="model.maritalStatus" #maritalStatus="ngModel">
                <validation-message [inputControl]="maritalStatus"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="nationality">Nascionalidade:</label>
                <input class="form-control form-control-sm col-12 col-md-3 mr-2" name="nationality" id="nationality"
                    [(ngModel)]="model.nationality" #nationality="ngModel" />
                <validation-message [inputControl]="nationality"></validation-message>
            </div>

            <div class="form-row my-2">
                <div class="col-12 col-md-5 pr-0 text-right">
                    <button type="button" class="btn btn-outline-danger mr-1"
                        (click)="isFormEdition = false">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary ml-1"
                        [disabled]="!profileForm.form.valid">Salvar</button>
                </div>
            </div>
        </form>
    </ng-template>
</card-template>