<app-header></app-header>
<div class="d-flex flex-column vh-100">
    <!-- Profile section -->
    <section class="content py-4 container-fluid mb-auto">
        <div *ngIf="profile; else noData">
            <!-- User header -->
            <div class="p-3 d-flex align-items-center bg-default text-white">
                <!-- User picture -->
                <div class="profile-picture">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        alt="..." class="rounded-circle">
                </div>
                <!-- User details -->
                <div class="pl-5">
                    <div class="d-inline-flex flex-column">
                        <h2>{{profile.name}} {{profile.lastName}}</h2>
                        <span><strong>E-mail: </strong>{{profile.email}}</span>
                        <span *ngIf="profile.phone"><strong>Telefone: </strong>{{profile.phone}}</span>
                        <span *ngIf="profile.cellphone"><strong>Celular: </strong>{{profile.cellphone}}</span>
                    </div>
                </div>
            </div>


            <div class="accordion indicator-plus-before round-indicator mt-5" aria-multiselectable="true">
                <personal-data [isLoggedUserProfile]="isLoggedUserProfile" [profile]="profile"></personal-data>
                <user-address [isLoggedUserProfile]="isLoggedUserProfile" [profile]="profile"></user-address>
                <academic-formation [isLoggedUserProfile]="isLoggedUserProfile" [profile]="profile"></academic-formation>
                <abilities [isLoggedUserProfile]="isLoggedUserProfile" [profile]="profile"></abilities>
                <!-- <experience [isLoggedUserProfile]="isLoggedUserProfile" [profile]="profile"></experience>  -->
            </div>
        </div>

        <ng-template #noData>
            <div class="alert alert-danger text-center" role="alert">
                Sem informações de perfil para serem exibidas!
            </div>
        </ng-template>
    </section>
    <app-footer></app-footer>
</div>