.bg-color-3jobs {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%) repeat scroll 0 0;
}
ul{
    list-style-type: none;
}
.card-header {
    margin-top: 10px;
    cursor: pointer;
}