<app-header [isLogged]="true"></app-header>
<div class="d-flex flex-column vh-100">
    <!-- Profile section -->
    <section class="content py-4 container-fluid mb-auto">
        <!-- User header -->
        <div class="p-3 d-flex align-items-center bg-default text-white">
            <!-- User picture -->
            <div class="profile-picture">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    alt="..." class="rounded-circle">
            </div>
            <!-- User details -->
            <div class="pl-5">
                <div class="d-inline-flex flex-column">
                    <h2>Marcelo Rodrigues Costa</h2>
                    <span><strong>E-mail: </strong>capp59marcelo@gmail.com</span>
                    <span><strong>Telefone: </strong>(19) 4122-2611</span>
                    <span><strong>Celular: </strong>(19) 98991-7220</span>
                </div>
                <!-- edit button -->
                <a *ngIf="isLoggedUserProfile" class="btn btn-link text-light" href="./">Editar</a>
            </div>
        </div>


        <div class="accordion indicator-plus-before round-indicator mt-5" aria-multiselectable="true">
            <personal-data [isLoggedUserProfile]="isLoggedUserProfile"></personal-data>
            <user-address [isLoggedUserProfile]="isLoggedUserProfile"></user-address>
            <academic-formation [isLoggedUserProfile]="isLoggedUserProfile"></academic-formation>
            <abilities [isLoggedUserProfile]="isLoggedUserProfile"></abilities>
            <experience [isLoggedUserProfile]="isLoggedUserProfile"></experience>
        </div>
    </section>
    <app-footer [isLogged]="true"></app-footer>
</div>