<app-navbar-home [isLogged]="true"></app-navbar-home>

<div class="overflow-hidden bg-light" style="background-image: url('./assets/trianglify.png'); background-size: cover;">
	<div class="row">

		<nav class="col-md-2 py-5 bg-dark text-light navbar-dark navbar-expand-md" id="sidebar">
			<div class="d-flex align-items-center">
				<button class="navbar-toggler mr-3 my-1 text-light rounded-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<h2 class="m-0">Filtro</h2>
			</div>

			<div class="collapse navbar-collapse p-0 m-0" id="navbarTogglerDemo02">
				<form action="">
					<div class="mb-5">
						<label for="">Cidades</label>
						<div class="form-check" *ngFor="let i of [1,2,3,4,5]">
							<input type="checkbox" class="form-check-input"> <label class="form-check-label">Cidade {{i}}</label>
						</div>					
					</div>
	
					<div class="mb-5">
						<label for="">Nivel</label>
						<div class="form-check" *ngFor="let i of [1,2,3,4,5]">
							<input type="checkbox" class="form-check-input"> <label class="form-check-label">Nivel {{i}}</label>
						</div>					
					</div>
				</form>
			</div>

		</nav>
		
		<div class="col-md-8">
			<div class="my-2">
				<span class="btn btn-primary mr-2 font-weight-bold">Vagas</span>
				<span class="btn btn-primary mr-2">Usuários</span>
			</div>

			<div class="w-100">
				<div class="jumbotron pt-5 pb-2 bg-white rounded-0 border" *ngFor="let i of [1,2,3,4,5]"> <!--class="jumbotron pt-5 pb-2"-->
					<h2>Programador Java</h2>					
					<span class="w-100 d-block">Unimetrocamp</span>
					<span class="w-100 d-block">Junior</span>
					<p class="py-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit alias fuga quasi odit temporibus, ipsa, consequuntur officia nam provident blanditiis suscipit rerum non. Atque optio ut maxime enim officiis?</p>
					<div class="d-flex justify-content-between">
						<span>Campinas</span>
						<span>15/03/2019</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 text-break align-self-center">
			<div class="jumbotron h-75">
				<div style="height: 500px;">[PLACEHOLDER]</div>
			</div>
		</div>
	</div>

</div>

<app-footer [isLogged]="true"></app-footer>