<nav class="navbar navbar-dark bg-dark">
	<div class="row w-100 align-items-center">
		<div class="col-2 text-center">
			<a class="navbar-brand mr-0" href="#"><i class="fa fa-area-chart"></i>TITULO E LOGO</a>
		</div>
		<div class="col-6">
			<form action="">
				<div class="input-group">
					<input type="text" class="form-control">
					<div class="input-group-append">
						<span class="input-group-text bg-light"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</form>
		</div>
		<div class="offset-2 col-1 text-light text-center" style="font-size: 2em">
			<i class="fa fa-cog pr-2"></i>
			<i class="fa fa-bell"></i>
		</div>
		<div class="col-1 text-center" style="font-size: 2em">
			<i class="fa fa-user-circle text-light"></i>
		</div>
	</div>
</nav>
<div class="container-fluid">

	<div class="row wrapper">

		<nav class="bg-dark text-light col-2 p-0" id="sidebar" [ngClass]="active ? 'active' : ''">
			<div class="sidebar-header p-1 bg-primary d-flex justify-content-between">
				<h3>Sidebar</h3>
				<button type="button" class="btn btn-primary" (click)="active=!active">
					<i class="fa fa-times"></i>
				</button>
			</div>

			<ul class="list-unstyled components">
				<p class="text-light p-1">Dummy Heading</p>
				<li class="active">
					<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
					<ul class="collapse list-unstyled" id="homeSubmenu">
						<li>
							<a href="#">Home 1</a>
						</li>
						<li>
							<a href="#">Home 2</a>
						</li>
						<li>
							<a href="#">Home 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
						class="dropdown-toggle">Pages</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li>
							<a href="#">Page 1</a>
						</li>
						<li>
							<a href="#">Page 2</a>
						</li>
						<li>
							<a href="#">Page 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Portfolio</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>

		<div id="content" class="col-10">
			<div class="container-fluid m-2">
				<button type="button" id="sidebarCollapse" class="btn btn-info" [ngClass]="!active ? 'active' : ''" (click)="active=!active">
					<i class="fa fa-align-left"></i>
				</button>



			</div>
		</div>
	</div>
</div>