<app-header [isLogged]="true"></app-header>
<div class="d-flex flex-column vh-100 bg-light">
    <section class="content pt-4 container-fluid mb-auto">
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard></app-card-dashboard>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  mb-3">
                <app-to-do-list></app-to-do-list>
            </div>
            <div class="col-md-8 mb-3">
                <table class="table table-bordered shadow bg-white">
                    <thead>
                        <tr>
                            <th scope="col">Vaga</th>
                            <th scope="col" style="width: 110px">Status</th>
                            <th scope="col" style="width: 140px">
                                <button class="btn btn-success" data-toggle="modal"
                                    data-target="#createVacancyModal">Cadastrar</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td><span class="badge badge-success">Aprovado</span></td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm mx-2">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-dark btn-sm">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered shadow  bg-white">
                    <thead>
                        <tr>
                            <th scope="col">HeadHunters</th>
                            <th scope="col" class="d-none d-sm-table-cell">Avaliação</th>
                            <th scope="col" style="width: 110px">Status</th>
                            <th scope="col" style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td class="d-none d-sm-table-cell">Mark</td>
                            <td><span class="badge badge-success">Aprovado</span></td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <app-create-vacancy-modal></app-create-vacancy-modal>
    <app-footer [isLogged]="true"></app-footer>
</div>