<app-header></app-header>
<div class="d-flex flex-column vh-100 bg-light">
    <section class="content pt-4 container-fluid mb-auto pb-5">
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard [title]="'Total'" [subtitle]="'Processos'" [value]="0"></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard [title]="'Total'" [subtitle]="'Pendente'" [value]="0"></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard [title]="'Total'" [subtitle]="'Atrasado'" [value]="0"></app-card-dashboard>
            </div>
            <div class="col-sm-6 col-md-3 mb-4">
                <app-card-dashboard [title]="'Total'" [subtitle]="'Finalizado'" [value]="0"></app-card-dashboard>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  mb-3">
                <app-to-do-list></app-to-do-list>
            </div>
            <div class="col-md-8 mb-3">
                <table class="table table-bordered shadow bg-white">
                    <thead>
                        <tr>
                            <th scope="col">Vaga</th>
                            <th scope="col" style="width: 110px">Status</th>
                            <th scope="col" style="width: 140px">
                                <button (click)="createVacancy()" class="btn btn-success btn-sm"
                                    data-toggle="modal" data-target="#createVacancyModal">Cadastrar</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vacancy of vacancies;">
                            <td>{{vacancy.title}}</td>
                            <td><span class="badge badge-success">{{vacancy.status}}</span></td>
                            <td>
                                <button (click)="toEditVacancy(vacancy)" data-toggle="modal"
                                    data-target="#createVacancyModal" type="button" class="btn btn-primary btn-sm"
                                    title="Editar Vaga">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button [routerLink]="['/dashboard/job-dashboard/', vacancy.id]"
                                    routerLinkActive="router-link-active" type="button"
                                    class="btn btn-success btn-sm mx-2" title="Ver Vaga">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-dark btn-sm" title="Questionario">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="shouldDisplayRecrutersTable()">
            <div class="col-12">
                <table class="table table-bordered shadow bg-white">
                    <thead>
                        <tr>
                            <th scope="col">Recrutador</th>
                            <th scope="col" class="d-none d-sm-table-cell">E-mail</th>
                            <th scope="col" style="width: 110px">
                                <button class="btn btn-success btn-sm" >Cadastrar</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marcelo</td>
                            <td class="d-none d-sm-table-cell">capp59marcelo@hotmail.com</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" title="Editar Recrutador">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm mx-2" title="Perfil Recrutador">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                </button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <app-create-vacancy-modal [model]="job" (subject)="getAllVacancies()"></app-create-vacancy-modal>
    <app-footer></app-footer>
</div>