<app-navbar-home></app-navbar-home>

<div class="container-fluid p-0">

    <div class="jumbotron" style="height: 400px;">
        
        <div class="row align-items-center h-75">
            <div class="offset-2 col-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center h-25">
            <div class="col-4">
                <button class="btn btn-secondary btn-lg">Novo por aqui? Clique aqui e cadastre-se</button>
            </div>
        </div>
    
    </div>
</div>