<div id="about">
    <section style="height: 100vh; position: relative;">
        <div id="img-background-1"></div>
        <div class="container h-100">
            <div class="h-100 row justify-content-md-center d-flex align-items-center text-white">
                <div class="col-md-8 text-center ">
                    <h2 class="text-center font-weight-bold">Do que somos feitos</h2>
                    <p> A paixão pelo novo nos move, e essa busca exige além de talento, valores dos quais temos orgulho
                        e não abrimos mão em nenhuma etapa do processo.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section style="background: white; ">
        <div class="container pt-5 pb-5">
            <div class="row pb-5">
                <div class="col-md-12">
                    <h2 class="text-center">Do que somos feitos</h2>
                    <p class="text-justify"> A paixão pelo novo nos move, e essa busca exige além de talento, valores
                        dos quais temos orgulho
                        e não abrimos mão em nenhuma etapa do processo.
                    </p>
                </div>
            </div>

            <ul class="row ">
                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Pluralidade</h3>
                        <p>Das tecnologias que usamos até as mentes por trás dos projetos: a diversidade nos define e
                            nos dá
                            combustível para inovar.
                        </p>
                    </div>
                </li>

                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Inovação</h3>
                        <p>Mantemos sempre acesa a chama da inovação, sempre em busca do diferente e do novo.</p>
                    </div>
                </li>

                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Empatia</h3>
                        <p>Entendemos as necessidades e perspectivas de nossos clientes e Ventureiros. E
                            automaticamente,
                            essa visão se estende para tudo o que fazemos.</p>
                    </div>
                </li>

                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-thumbs-up"></i></span>
                    <div class="pl-4">
                        <h3>Comprometimento</h3>
                        <p>Vivemos o entusiasmo de nossos clientes, trabalhando lado a lado em busca de soluções
                            precisas.
                        </p>
                    </div>
                </li>

                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Dinamicidade</h3>
                        <p>A busca incessante pelo novo exige movimento constante. Hoje estamos sempre à frente de onde
                            estávamos ontem.</p>
                    </div>

                </li>

                <li class="col-md-6 d-flex">
                    <span style="font-size: 2em;"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Responsabilidade</h3>
                        <p>Buscamos ser um exemplo para o mundo e nossos Ventureiros. Por isso, lutamos para deixar uma
                            marca positiva em todas as esferas.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 pr-5">
                    <h3>Nós ajudamos a conectar profissionais!</h3>
                    <p>
                        Na 3jobs, nós usamos a tecnologia para integrar pessoas e otimizar processos, garantindo que
                        explorem ao
                        máximo o potencial da nossa ferramenta e que alcancem os melhores resultados.<br>
                        Atualmente trabalhamos em todo teritorio brasileiro!
                    </p>
                    <button type="button" class="btn btn-outline-primary">Criar Conta</button>
                </div>
                <div class="col-12 col-sm-12 col-md-5">

                    <img style="max-width: 390px"
                        src="https://www.sinaceg.com.br/wp-content/uploads/2017/05/sinaceg-mapa-brasil-ponto-encontro-sindicalizadosb.png"
                        alt="">
                </div>
            </div>

        </div>
    </section>
</div>