<div id="about">
    <!-- First section with background -->
    <section class="position-relative vh-100">
        <!-- background image -->
        <div id="background-image"></div>
        <!-- about the app -->
        <div class="container h-100">
            <div class="h-100 justify-content-md-center d-flex align-items-center text-white">
                <div class="col-md-8 text-center">
                    <h1 class="text-center font-weight-bold">Somos a 3jobs</h1>
                    <p class="description">
                        3jobs não é somente mais um site de vagas de emprego,nós nos propomos a entregar
                        uma experiencia que seja unica e simples para ajudar a vida das pessoas!
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- Second section about the application -->
    <section>
        <div class="container pt-5 pb-5">
            <div class="w-100 pb-5 justify-content-center">
                <div class="text-center">
                    <h2>Nossos Valores</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa-lightbulb-o"></i></span>
                    <div class="pl-4">
                        <h3>Inovação</h3>
                        <p>
                            Estamos sempre atualizados com as melhores tecnologias e buscamos pessoas para desenvolver
                            inovação, e assim surpreender positivamente os usuários da nossa plataforma. Inovamos para
                            facilitar a vida das pessoas e tornar tudo mais simples!
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa fa-user-o"></i></span>
                    <div class="pl-4">
                        <h3>Pessoas</h3>
                        <p>
                            Buscamos diversidade, com o intuito de manter o bem-estar no ambiente e ter uma evolução
                            constantemente.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa-balance-scale"></i></span>
                    <div class="pl-4">
                        <h3>Ética</h3>
                        <p>
                            Seguimos a ética e profissionalismo, somos justos, transparentes e leais com todos.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa-thumbs-o-up"></i></span>
                    <div class="pl-4">
                        <h3>Comprometimento</h3>
                        <p>
                            Garantimos aos usuários a melhor experiência com nossa ferramenta, entregando os melhores
                            resultados.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa-search"></i></span>
                    <div class="pl-4">
                        <h3>Transparência</h3>
                        <p>
                            Valorizamos a honestidade, buscamos ser verdadeiros em nossas ações e transparentes com
                            nossos serviços.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 d-flex align-items-baseline">
                    <span class="title-icon"><i class="fa fa-globe"></i></span>
                    <div class="pl-4">
                        <h3>Responsabilidade</h3>
                        <p>
                            Atuamos com comprometimento, segurança e confiança em nossos serviços, buscamos ser um
                            exemplo para quem utiliza nossa ferramenta.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row m-3">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h2 class="card-title text-center">Missão</h2>
                            <div class="card-text">Proporcionar uma nova forma de se conectar pessoas com o mesmo objetivo em comum.</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h2 class="card-title text-center">Visão</h2>
                            <div class="card-text">Ser referencia no mercado de busca de emprego, facilitando a interação entre as pessoas.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 pr-md-5 pb-5 text-center text-md-left">
                    <h3>Nós ajudamos a conectar profissionais!</h3>
                    <p>
                        Na 3jobs, nós usamos a tecnologia para integrar pessoas e otimizar processos, garantindo que
                        explorem ao
                        máximo o potencial da nossa ferramenta e que alcancem os melhores resultados.<br>
                        Atualmente trabalhamos em todo teritorio brasileiro!
                    </p>
                    <a routerLink="/register" class="btn btn-outline-primary">Criar Conta</a>
                </div>
                <div class="col-12 col-md-5">
                    <img class="w-100"
                        src="https://www.sinaceg.com.br/wp-content/uploads/2017/05/sinaceg-mapa-brasil-ponto-encontro-sindicalizadosb.png"
                        alt="">
                </div>
            </div>
        </div>
    </section>
</div>