<div id="home" class="container h-100">

	<div class="row h-100 justify-content-center align-items-center">
		<div id="about" class="jumbotron">
			<h3 class="text-center">Sobre nós</h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos neque dolor culpa fugit recusandae,
				dicta velit
				sed rerum, sapiente, sunt ullam eligendi fugiat. Recusandae suscipit itaque natus. Ex, quibusdam
				adipisci.
			</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis provident commodi sit! Cum, molestias
				tenetur
				quo
				praesentium harum laudantium laboriosam eveniet laborum nobis blanditiis quos exercitationem porro
				aliquid,
				hic
				quis!</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tenetur aliquid sequi deleniti, aut,
				repudiandae
				optio vero exercitationem enim culpa repellat eveniet molestias qui. Voluptatem necessitatibus deleniti
				obcaecati
				saepe aspernatur? lo
				<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi totam quaerat excepturi odio veniam
				quo
				doloribus impedit illum quibusdam veritatis dolores mollitia minus, ad necessitatibus quis voluptatum
				reiciendis,
				culpa iste!
			</p>
		</div>

	</div>
</div>