.bg-default {
	background: #3ccdbb;
}

/* accordion styles */
.card-header {
	position: relative;
	&:before {
		font-family: "FontAwesome";
		font-size: 14pt;
		content: "\f077";
		position: absolute;
        right: 10px;
        color: #fff;
	}

	&.collapsed {
		&:before {
			content: "\f078";
		}
	}
}
