<!-- card header -->
<div id="tabPersonal" class="card-header bg-default cursor-pointer" role="tab" attr.href="{{'#'+cardBodyId}}"
    data-toggle="collapse" aria-expanded="false" attr.aria-controls="{{cardBodyId}}">
    <a class="card-title text-white font-weight-bold">{{title}}</a>
</div>
<!-- collapse -->
<div attr.id="{{cardBodyId}}" class="collapse show shadow" role="tabpanel" aria-labelledby="tabPersonal">
    <!-- card body -->
    <div class="card-body bg-light">
        <ng-container *ngIf="cardBodyContent" [ngTemplateOutlet]="cardBodyContent"></ng-container>
    </div>
</div>