<div class="d-flex flex-column  bg-default ">
    <div class="content col-md-auto  container">
        <section class="content col-md-auto  container">

            <div class="jumbotron jumbotron-fluid bg-white pt-5 justify-content-center">
                <section>
                    <div class="container ">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-auto">
                                <div class="d-flex flex-row col-md-auto">
                                    <div>
                                        <div class="row justify-content-center mb-3 ">
                                            <div class="col-auto col-md-auto justify-content-center">
                                                <h4>Sign Up</h4>
                                                <p class="text-sm-left text-secondary">Cadastre-se e tenha acesso a
                                                    todos os serviços.</p>
                                            </div>
                                        </div>

                                        <form #myform="ngForm" (ngSubmit)="register(myform)" name="register">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Nome</label>
                                                <input type="text" class="form-control" name="name" id="register-nome"
                                                    aria-describedby="nameHelp" ngModel required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Sobrenome</label>
                                                <input type="text" class="form-control" name="sobrenome"
                                                    id="register-sobrenome" aria-describedby="nameHelp" ngModel
                                                    required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Data de Nascimento</label>
                                                <input type="date" class="form-control" id="register-data" name="data"
                                                    aria-describedby="dateHelp" ngModel required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" id="register-email"
                                                    name="email" aria-describedby="emailHelp" ngModel required>
                                                <small id="emailHelp" class="form-text text-muted">Nunca vamos
                                                    compartilhar
                                                    seu email, com ninguém.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Confirme o Email</label>
                                                <input type="email" class="form-control" id="register-email2"
                                                    name="email2" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Senha</label>
                                                <input type="password" class="form-control" id="register-password"
                                                    name="password" ngModel required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Confirme a Senha</label>
                                                <input type="password" class="form-control"
                                                    id="register-exampleInputPassword2" name="Password2">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">CPF</label>
                                                <input type="text" class="form-control" id="register-cpf" name="cpf"
                                                    ngModel required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Você é um ?</label>
                                                <select type="number" class="form-control" id="register-roles" name="roles" ngModel
                                                    required>
                                                    <option value="3">Candidato</option>
                                                    <option value="2">Headhunter</option>
                                                    <option value="4">Recrutador</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary float-right">Cadastrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <app-footer [isLogged]="true"></app-footer>
</div>