<div class="d-flex flex-column vh-100 bg-default">
    <section class="content container-fluid mb-auto">
        <div class="jumbtron-fluid bg-white w-50 mx-auto py-5 px-4">

            <!-- sign up header -->
            <div class="mb-3">
                <h4>Crie sua conta</h4>
                <span class="text-sm-left text-secondary">Cadastre-se e tenha acesso a todos os serviços.</span>
            </div>

            <!-- sign up form -->
            <form #signUpForm="ngForm" (ngSubmit)="signUpForm.form.valid && onSubmit()">
                <!-- role -->
                <div class="form-group">
                    <label for="role">Você é um ?</label>
                    <select required class="form-control" id="role" name="role" [(ngModel)]="model.role" #role="ngModel">
                        <option value="3">Candidato</option>
                        <option value="2">Headhunter</option>
                        <option value="4">Recrutador</option>
                    </select>
                    <validation-message [inputControl]="role"></validation-message>
                </div>
            </form>
        </div>
    </section>
    <app-footer [isLogged]="true"></app-footer>
</div>