.bg-default {
	background-image: url("images/body-bg.jpg");
	background-repeat: no-repeat;
	background-size: inherit;
	-moz-background-size: inherit;
	-webkit-background-size: inherit;
	-o-background-size: inherit;
	-ms-background-size: inherit;
	margin: 0px;
}
.icon {
	color: #0072ff;
}

.w-35 {
	width: 35%;
}

.min-vh-100 {
	min-height: 100vh;
}
