<div class="d-flex flex-column min-vh-100 bg-default">
    <section class="content container-fluid mb-auto mt-0 py-4">
        <div class="row justify-content-center">
            <div class="jumbtron-fluid bg-white col-10 col-md-8 col-xl-6 py-5 px-4">

                <!-- sign up header -->
                <div class="mb-3">
                    <h4>Crie sua conta</h4>
                    <span class="text-sm-left text-secondary">Cadastre-se e tenha acesso a todos os serviços.</span>
                </div>

                <!-- sign up form -->
                <form #signUpForm="ngForm" (ngSubmit)="signUpForm.form.valid && onSubmit('/')">
                    <div class="form-row">
                        <!-- role -->
                        <div class="form-group col-lg-6">
                            <label for="role">Você é um ?</label>
                            <select required class="form-control" id="role" name="role" [(ngModel)]="model.roles[0]"
                                #role="ngModel">
                                <option value="ROLE_CANDIDATE">Candidato</option>
                                <option value="ROLE_HEADHUNTER">Headhunter</option>
                                <option value="ROLE_RECRUTER_ADMIN">Representante de empresa</option>
                            </select>
                            <validation-message [inputControl]="role"></validation-message>
                            <small class="form-text text-muted">Selecione o tipo da sua conta.</small>
                            <small class="form-text" *ngIf="model.roles[0] && model.roles[0] === 'ROLE_RECRUTER_ADMIN'"><strong>* Após o
                                    cadastro, deve ser feito o cadastro de sua empresa.</strong></small>
                        </div>

                        <!-- cpf -->
                        <div class="form-group col-lg-6">
                            <label for="cpf">CPF:</label>
                            <input required maxlength="11"
                                pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})"
                                type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="model.cpf"
                                #cpf="ngModel" cpfValidation>
                            <validation-message [inputControl]="cpf"></validation-message>
                            <small class="form-text text-muted">Inserir apenas numeros, sem pontos.</small>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- name -->
                        <div class="form-group col-lg-6">
                            <label for="name">Nome:</label>
                            <input required maxlength="60" type="text" class="form-control" id="name" name="name"
                                [(ngModel)]="model.profile.name" #name="ngModel">
                            <validation-message [inputControl]="name"></validation-message>
                        </div>

                        <!-- lastName -->
                        <div class="form-group col-lg-6">
                            <label for="lastName">Sobrenome:</label>
                            <input required maxlength="60" type="text" class="form-control" id="lastName"
                                name="lastName" [(ngModel)]="model.profile.lastName" #lastName="ngModel">
                            <validation-message [inputControl]="lastName"></validation-message>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- email -->
                        <div class="form-group col-lg-6">
                            <label for="email">Email:</label>
                            <input required email type="email" class="form-control" id="email" name="email"
                                [(ngModel)]="model.email" #email="ngModel" mustMatch="confirmEmail" reverse="true">
                            <validation-message [inputControl]="email"></validation-message>
                        </div>

                        <!-- confirm email -->
                        <div class="form-group col-lg-6">
                            <label for="confirmEmail">Confirme o Email:</label>
                            <input required email type="email" class="form-control" name="confirmEmail"
                                [(ngModel)]="emailField" #confirmEmail="ngModel" mustMatch="email">
                            <validation-message [inputControl]="confirmEmail"></validation-message>
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- password -->
                        <div class="form-group col-lg-6">
                            <label for="password">Senha:</label>
                            <input required type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="model.password" #password="ngModel" mustMatch="confirmPassword"
                                reverse="true">
                            <validation-message [inputControl]="password"></validation-message>
                        </div>

                        <!-- confirm password -->
                        <div class="form-group col-lg-6">
                            <label for="confirmPassword">Confirme a senha:</label>
                            <input required type="password" class="form-control" name="confirmPassword"
                                [(ngModel)]="passwordField" #confirmPassword="ngModel" mustMatch="password">
                            <validation-message [inputControl]="confirmPassword"></validation-message>
                        </div>
                    </div>

                    <div class="form-group">
                        <a routerLink="/" class="btn btn-outline-dark">Voltar</a>
                        <button type="submit" [disabled]="!signUpForm.form.valid"
                            class="btn btn-primary float-right">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>