.bg-default {
   
    background-image: url("images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;   
    margin: 0px;
}
.icon {
    color: #0072ff;

}

.w-35 {
    width: 35%;
}

.min-vh-100 {
    min-height: 100vh;
}