<div class="d-flex justify-content-center" style="height: 100vh; background-image: url('./assets/trianglify.png'); background-size: cover;">
  <div class="jumbotron p-0 my-5 d-flex w-75 rounded-0">
    <div class="row w-100">
      <div class="col-md-3 py-3 bg-dark text-light">
        <h1 class="text-center">3 jobs</h1>
      </div>
      <div class="col-md-9 py-3 align-self-center">
        <h2 class="text-center">Crie sua conta agora mesmo</h2>
        <form action="" class="my-5">
          <div class="form-row my-2">
            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Nome">
            </div>

            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Sobrenome">
            </div>
          </div>

          <div class="form-row my-2">
            <div class="col-12">
              <input type="text" class="form-control rounded-0" placeholder="E-mail">
            </div>
          </div>

          <div class="form-row my-2">
            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Senha">
            </div>
            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Confirmar senha">            
            </div>
          </div>
          
          <div class="form-row my-2">
            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Estado">
            </div>
            
            <div class="col-6">
              <input type="text" class="form-control rounded-0" placeholder="Cidade">
            </div>
          </div>

          <div class="form-row my-5">
            <div class="col-12">
              <!-- <button type="submit" class="btn btn-primary rounded-0 d-block mx-auto">Criar conta</button> -->
              <a href="/profile" class="btn btn-primary rounded-0 d-block mx-auto">Criar conta</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>