<app-navbar-home></app-navbar-home>

<div class="container-fluid p-0">

    <div class="jumbotron" style="height: 400px; background-image: url('../../assets/brainstorming.jpg'); background-size: cover">

        <div class="row align-items-center h-75">
            <div class="offset-2 col-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg">
                    <div class="input-group-append">
                        <span class="input-group-text bg-light"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center h-25">
            <div class="col-4">
                <button class="btn btn-warning btn-lg">Novo por aqui? Clique aqui e cadastre-se</button>
            </div>
        </div>

    </div>

    <div class="row mx-0" style="margin: 120px 0">
        <div class="offset-1 col-10">
            <div class="jumbotron text-center py-2" style="background: none">
                <h3>Empresas melhores avaliadas</h3>
                <div class="d-flex">
                    <app-company-card class="my-0 mx-auto"></app-company-card>
                    <app-company-card class="my-0 mx-auto"></app-company-card>
                    <app-company-card class="my-0 mx-auto"></app-company-card>
                    <app-company-card class="my-0 mx-auto"></app-company-card>
                    <app-company-card class="my-0 mx-auto"></app-company-card>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center align-items-center mx-auto" style="background-color: gray; height: 150px; font-size: 60px; width: 60%">
        ANUNCIE AQUI!
    </div>

    <footer style="background-color: grey; height: 180px; margin-top:120px">
    
    </footer>
</div>
