<app-navbar-home [isLogged]="false"></app-navbar-home>

<div class="container-fluid p-0" style="overflow: hidden;">

    <div class="jumbotron" style="height: 400px; background-image: url('../../assets/brainstorming.jpg'); background-size: cover">

        <div class="row align-items-center h-75">
            <div class="offset-2 col-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg">
                    <div class="input-group-append">
                        <span class="input-group-text bg-light"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center h-25">
            <div class="col-4">
                <button class="btn btn-warning btn-lg">Novo por aqui? Clique aqui e cadastre-se</button>
            </div>
        </div>

    </div>

    <div class="row text-center" style="justify-content: center; flex-direction: column;">
        <h2>Empresas melhores avaliadas</h2>
        <p>Aqui Estão listadas algumas das melhores empresas que fazem parte do nosso case de sucesso!</p>
    </div>
    <div class="container-fluid d-flex" style="min-height: auto;align-items: center; justify-content: center;margin-bottom: 1rem;">
        <div style="display: flex; flex-wrap: wrap; justify-content: center;max-width: 920px;">
        
            <app-company-card style="width: calc(960px / 7);display: inline-flex; justify-content: center; margin: 15px 0;"
            *ngFor="let img of imgs"
            [img]="img"
            ></app-company-card>

        </div>
    </div>


    <div class="d-flex justify-content-center align-items-center mx-auto" style="background-color: gray; height: 150px; font-size: 60px; width: 60%; margin-bottom: 120px;">
        [PLACEHOLDER]
    </div>

    <app-footer></app-footer>
</div>
