<app-navbar-home [isLogged]="false"></app-navbar-home>

<div class="" style="background-image: url('./assets/trianglify.png'); background-size: cover;">

    <div class="jumbotron"
        style="height: 400px; background-image: url('../../assets/brainstorming.jpg'); background-size: cover">

        <div class="row align-items-center h-75">
            <div class="col-12 offset-md-2 col-md-8">
                <div class="input-group mb-3">
                    <input type="text"
                        class="form-control form-control-lg border-right-0 border-white bg-light rounded-0">
                    <div class="input-group-append">
                        <span class="input-group-text border-white bg-warning rounded-0"><i
                                class="fa fa-search text-light"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center h-25">
            <div class="col-12 col-md-4">
                <a href="/createAccount" class="btn btn-warning btn-lg rounded-0">Novo por aqui? Clique aqui e cadastre-se</a>
            </div>
        </div>

    </div>

    <div class="d-md-flex text-center flex-column jumbotron bg-white rounded-0 border w-75 mx-auto">
        <h2>Empresas melhores avaliadas</h2>
        <p>Aqui estão listadas algumas das melhores empresas que fazem parte do nosso case de sucesso!</p>
        <div class="container-fluid d-md-flex">
            <div >
                <app-company-card *ngFor="let img of imgs" [img]="img"></app-company-card>
            </div>
        </div>
    </div>

    <div class="d-md-flex justify-content-center align-items-center mx-auto jumbotron w-50" style="font-size: 4em;">
        <span class="text-break">[PLACEHOLDER]</span>
    </div>

    <app-footer></app-footer>
</div>