<footer class="text-light">
  <div class="row mx-0 align-items-center text-justify" *ngIf="!isLogged">
    <div class="col-md-4 py-2">
      <span><strong>Nossa missão</strong></span>
      <p class="p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, nisi esse nemo deleniti, aliquid
        ex inventore fugit aut doloribus sunt fugiat asperiores ullam. Laudantium, enim rerum vero commodi quo laborum!
      </p>
    </div>
    <div class="offset-md-1 col-md-7 text-center text-sm-left">
      <span>Eae, curtiu a ideia?</span>
      <br>
      <button class="btn btn-warning btn-lg rounded-0">Clique aqui e cadastre-se</button>
    </div>
  </div>

  <div class="row mx-0 align-items-center copyright mt-3 mt-sm-0">
    <div class="col-md-12 py-2">&copy; 2019 Dream Team</div>
  </div>
</footer>