<card-template title="Formação academica" [cardBodyContent]="academicFormation" cardBodyId="academicFormation">
    <ng-template #academicFormation>
        <!-- academic formation -->
        <div *ngFor="let experience of profile.experiences">
            <div class="d-flex py-2 border-bottom" *ngIf="!isFormEdition">
                <div class="d-inline-flex flex-column">
                    <span><strong>{{experience.description}}</strong></span>
                    <span>{{experience.location}}</span>
                    <span>{{experience.beginDate | date: 'dd/MM/yyyy'}} -
                        {{experience.endDate != null ? (experience.endDate | date: 'dd/MM/yyyy') : 'Cursando'}}</span>
                </div>
                <div class="ml-auto" *ngIf="isLoggedUserProfile">
                    <button type="button" class="btn btn-outline-primary btn-sm"
                        (click)="openForm(experience.id)">Editar</button>
                </div>
            </div>
        </div>
        <!-- edit academic formation -->
        <form *ngIf="isFormEdition">

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="inputCourseName">Descrição:</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-3" name="description"
                    id="description" [ngModel]="model.experiences[experienceIndex].description" #description="ngModel" required>
                <validation-message [inputControl]="description"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="selectCourseType">Local:</label>
                <input class="form-control form-control-sm col-12 col-md-3" name="location" id="location"
                    [ngModel]="model.experiences[experienceIndex].location" #location="ngModel" required>
                    <validation-message [inputControl]="location"></validation-message>                    
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="inputInstitution">Data de inicio:</label>
                <input type="date" class="form-control form-control-sm col-12 col-md-3" name="beginDate" id="beginDate"
                    [ngModel]="model.experiences[experienceIndex].beginDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.experiences[experienceIndex].beginDate = $event" #beginDate="ngModel" required>
                <validation-message [inputControl]="beginDate"></validation-message>
            </div>

            <div class="form-row my-2">
                <label class="col-12 col-md-2" for="selectDurationCourse">Data de termino:</label>
                <input type="date" class="form-control form-control-sm col-12 col-md-3" name="endDate" id="endDate"
                    [ngModel]="model.experiences[experienceIndex].endDate | date: 'yyyy-MM-dd'" (ngModelChange)="model.experiences[experienceIndex].endDate = $event" #endDate="ngModel" required>
            </div>

            <div class="form-row my-2">
                <div class="col-12 col-md-5 pr-0 text-right">
                    <button class="btn btn-outline-danger mr-1" (click)="isFormEdition = false">Cancelar</button>
                    <button class="btn btn-outline-primary ml-1" (click)="isFormEdition = false">Salvar</button>
                </div>
            </div>
        </form>
    </ng-template>
</card-template>