<app-header [isLogged]="true"></app-header>
<div class="d-flex flex-column vh-100 bg-light" style="overflow-x: hidden;">
    <section class="content pt-4 container-fluid mb-auto">
        <div class="row">
            <div class="col-md-4  mb-3">
                <div class="card shadow">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 220px;position: relative; background: linear-gradient(to right, #1e5799 0%,  #3ccdbb 0%, #16c9f6 100%);">
                        <button type="button" class="btn btn-primary btn-sm"
                            style="position: absolute; right: 5px;top: 5px">Ver Mais</button>
                        <div class="bg-success rounded-circle" style="width: 120px;height: 120px;"></div>
                        <strong>Marcelo Rodrigues</strong>
                    </div>
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col" style="width: 100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Mark</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Thornton</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Jacob</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Thornton</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-8 mb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card shadow"
                            style="background: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;">
                            <div class="card-body text-white d-flex flex-column align-items-center p-2">
                                <strong>Quantidade de Candidatos</strong>
                                <span>25</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card shadow"
                            style="background: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;">
                            <div class="card-body text-white d-flex flex-column align-items-center p-2">
                                <strong>Quantidade Avaliados</strong>
                                <span>25</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <canvas id="barChartCidades" style="height: 440px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <table class="table table-bordered shadow  bg-white">
                    <thead>
                        <tr>
                            <th scope="col">Candidato</th>
                            <th scope="col">E-mail</th>
                            <th scope="col" class="d-none d-sm-table-cell" style="width: 150px">Avaliação</th>
                            <th scope="col" style="width: 110px">Status</th>
                            <th scope="col" style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td class="d-none d-sm-table-cell">metrocamp.team@gmail.com</td>
                            <td class="d-none d-sm-table-cell">10</td>
                            <td><span class="badge badge-success">Aprovado</span></td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12">
                <table class="table table-bordered shadow  bg-white">
                    <thead>
                        <tr>
                            <th scope="col">HeadHunter</th>
                            <th scope="col">E-mail</th>
                            <th scope="col" style="width: 110px">Avaliação</th>
                            <th scope="col" style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td class="d-none d-sm-table-cell">metrocamp.team@gmail.com</td>
                            <td class="d-none d-sm-table-cell">10</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Ver Mais</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <app-footer [isLogged]="true"></app-footer>
</div>