<footer class="pt-3 pb-3">
    <div class="container fullwidth">
        <div class="row">
            <div class="col-sm-8">
                <h2>3jobs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 pt-3">
                <ul>
                    <li>
                        <a href="#" class="footer-link" title="3jobs no Facebook">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer-link" title="3jobs no LinkedIn">
                            <i class="fa fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer-link" title="3jobs no Instagram">
                            <i class="fa fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 pt-3">
                <address>
                    Campus UniMetrocamp | Wyden<br>
                    Rua Dr. Sales de Oliveira, 1661<br>
                    Vila Industrial Campinas - SP
                </address>
            </div>
        </div>
    </div>
</footer>