<app-header [isLogged]="true"></app-header>
<div class="d-flex flex-column vh-100 bg-white">
    <section class="content pt-5 container mb-auto">
        <div class="jumbotron bg-white pt-1">
            <section>
                <div class="container">
                    <div class="row justify-content-between d-flex">
                        <div class="col-lg-8 justify-content-center">
                            <div>
                                <div>
                                    <div class="row justify-content-between">
                                        <div class="col-auto col-md-auto align-items-baseline">
                                            <a class="pt-0 btn btn-link" href="#" role="button"><i
                                                    class="fa fa-arrow-circle-left fa-2x"></i>
                                                <h6 class="text-secondary">Voltar</h6>
                                            </a>
                                        </div>
                                        <div class="col-auto col-md-auto align-items-baseline ">
                                            <button type="button" (click)="apply()"
                                                class="btn btn-primary">Candidatar-se</button>
                                        </div>                                        
                                    </div>
                                    <hr class="pt-0 mt-0">
                                    <h4 class="text-primary">{{job.title}}</h4>
                                    <h6>{{job.company.name}}</h6>
                                    <p>{{job.description}}</p>
                                    <div class="row">
                                        <div class="col-auto col-md-auto pr-0">
                                            <div>
                                                <p class="font-weight-bold "><span class="title-icon text-success"><i
                                                            class="fa fa-usd fa-lg mr-1"></i></span>{{job.salaryValue}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-auto col-md-auto pr-0">
                                            <div>
                                                <p class="font-weight-bold"><span class="title-icon text-primary"><i
                                                            class="fa fa-map-signs fa-lg mr-1"></i></span>{{job.company.address.city}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-auto col-md-auto pr-0">
                                            <div>
                                                <p class="font-weight-bold"><span class="title-icon text-warning"><i
                                                            class="fa fa-address-card fa-lg mr-1"></i></span>{{job.jobRole}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-auto col-md-auto pr-0">
                                            <div>
                                                <p class="font-weight-bold"><span class="title-icon text-danger"><i
                                                            class="fa fa-clock-o fa-lg mr-1"></i></span>{{job.endDate | date: 'dd-MM-yyyy'}}
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row ml-1">
                                <ul class="list-inline">
                                    <li class="list-inline-item" *ngFor="let tag of job.tags">
                                        <div class="d-flex">
                                            <span class="badge badge-pill badge-info m-1">{{tag.description}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <hr class="bt-0 mt-0 pt-0">
                            <div>
                                <h4>Requisitos</h4>
                                <ul>
                                    <li>
                                        <span>{{job.requirement}}</span>
                                    </li>

                                </ul>
                            </div>
                            <hr class="my-4">
                            <div>
                                <h4>Benefícios</h4>
                                <ul>
                                    <li>
                                        <span>{{job.benefit}}</span>
                                    </li>
                                </ul>
                            </div>
                            <hr class="my-5">
                        </div>

                        <div class="col-lg-3">
                            <div>
                                <div>
                                    <h4>Vagas similares</h4>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action">Analista de
                                            Sistema</a>
                                        <a href="#" class="list-group-item list-group-item-action">Técnico de
                                            Suporte</a>
                                        <a href="#" class="list-group-item list-group-item-action">Analista de
                                            Requisitos</a>
                                        <a href="#" class="list-group-item list-group-item-action ">Desenvolvedor</a>
                                        <a href="#" class="list-group-item list-group-item-action "></a>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <h4>Publicidade</h4>
                                <div>
                                    <div>
                                        <a href="#">
                                            <h4>Mercado Livre</h4>
                                        </a>
                                        <h6>Compras Premium Labels</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            temporinc ididunt ut dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <app-footer [isLogged]="true"></app-footer>
</div>