<app-header [isLogged]="true"></app-header>
<div class="d-flex flex-column vh-100 bg-white">
    <section class="content pt-5 container mb-auto">
        <div class="jumbotron bg-white pt-1">
            <section>
                <div class="container">
                    <div class="row justify-content-between d-flex">
                        <div class="col-lg-8 justify-content-center">
                            <div class="d-flex flex-row">
                                <div>
                                    <div class="row justify-content-between">
                                        <div class="col-auto col-md-auto align-items-baseline">
                                            <a class="pt-0 btn btn-link" href="#" role="button"><i
                                                    class="fa fa-arrow-circle-left fa-2x"></i>
                                                <h6 class="text-secondary">Voltar</h6>
                                            </a>
                                        </div>
                                        <div class="col-auto col-md-auto align-items-baseline ">
                                            <button type="button" class="btn btn-primary">Candidatar-se</button>
                                        </div>
                                    </div>
                                    <hr class="pt-0 mt-0">
                                    <h4 class="text-primary">Servente de Limpeza / Analista de Faxina</h4>
                                    <h6>Matera Systems</h6>
                                    <p>
                                        Nós acreditamos que compartilhar conhecimento é a melhor forma de unir o time,
                                        aprender mais rápido e alcançar o sucesso.
                                    </p>
                                    <div class="row">
                                        <div class="col-12 col-md-4 d-flex align-items-baseline">
                                            <div>
                                                <p class="font-weight-bold "><span class="title-icon text-success"><i
                                                            class="fa fa-usd fa-lg"></i></span> Salário a combinar</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 d-flex align-items-baseline">
                                            <div>
                                                <p class="font-weight-bold"><span class="title-icon text-primary"><i
                                                            class="fa fa-map-signs fa-lg"></i></span> Campinas - SP</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 d-flex align-items-baseline">
                                            <div>
                                                <p class="font-weight-bold"><span class="title-icon text-warning"><i
                                                            class="fa fa-address-card fa-lg"></i></span> Junior</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-1">
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">Devepole</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">SQL</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">Tag1</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">JAVA</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">Devepole</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">SQL</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">Tag1</span>
                                </div>
                                <div class="d-flex">
                                    <span class="badge badge-pill badge-info m-1">JAVA</span>
                                </div>
                            </div>
                            <hr class="my-1 py-2">
                            <div>
                                <h4>Requisitos</h4>
                                <ul>
                                    <li>
                                        <span>Responsável por planejar, executar e controlar o esforço necessário á
                                            manutenção da garantia da qualidade do produto e os testes
                                            realizados.</span>
                                    </li>
                                    <li>
                                        <span>Realizar a validação no pacote final proveniente da integração de dois ou
                                            mais produtos de sprints.</span>
                                    </li>
                                    <li>
                                        <span>Apoiar a Homologação de versões.</span>
                                    </li>
                                    <li>
                                        <span>Manter em execução processos dos sistemas nos ambientes internos.</span>
                                    </li>
                                    <li>
                                        <span>Apoiar a equipe de homologação ativa (HMP) dos sistemas.</span>
                                    </li>
                                    <li>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliquaut enim ad minim
                                            veniam.</span>
                                    </li>
                                </ul>
                            </div>
                            <hr class="my-4">
                            <div>
                                <h4>Benefícios</h4>
                                <ul>
                                    <li>
                                        <span>Assistência médica</span>
                                    </li>
                                    <li>
                                        <span>Assistência odontológica</span>
                                    </li>
                                    <li>
                                        <span>Auxílio desenvolvimento</span>
                                    </li>
                                    <li>
                                        <span>Consignado</span>
                                    </li>
                                    <li>
                                        <span>Seguro de vida</span>
                                    </li>
                                    <li>
                                        <span>Vale alimentação</span>
                                    </li>
                                    <li>
                                        <span>Vale-refeição</span>
                                    </li>
                                    <li>
                                        <span>Vale-transporte</span>
                                    </li>
                                </ul>
                            </div>
                            <hr class="my-4">
                        </div>

                        <div class="col-lg-3">
                            <div>
                                <div>
                                    <h4>Vagas similares</h4>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">Analista de
                                            Sistema</a>
                                        <a href="#" class="list-group-item list-group-item-action">Técnico de
                                            Suporte</a>
                                        <a href="#" class="list-group-item list-group-item-action">Analista de
                                            Requisitos</a>
                                        <a href="#" class="list-group-item list-group-item-action ">Desenvolvedor</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div>
                                <h4>Publicidade</h4>
                                <div>
                                    <div>
                                        <a href="#">
                                            <h4>Mercado Livre</h4>
                                        </a>
                                        <h6>Compras Premium Labels</h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            temporinc ididunt ut dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <app-footer [isLogged]="true"></app-footer>
</div>