<div id="home" class="container-fluid h-100">

	<div class="row h-100 align-items-center">
		<div class="col-12 center-block text-center text-white">
			<!-- search bar -->
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="input-group">
						<input type="text" class="form-control form-control-lg border-right-0">
						<div class="input-group-append">
							<button type="button" class="input-group-text bg-warning rounded-0">
								<i class="fa fa-search text-light"></i></button>
                        </div>
					</div>
				</div>
			</div>

			<!-- login and create account button -->
			<div class="row justify-content-center mt-2">
				<div class="col-12 col-md-6 col-lg-4">
                    <button type="button" class="btn btn-link" style="font-size: 1.5rem; color: #004c9e;" data-toggle="modal" data-target="#accountModal">Entre ou cadastre-se</button>
                </div>
			</div>

		</div>
	</div>
	<app-account-modal></app-account-modal>
</div>