<div id="home" class="container h-100">

	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-12 center-block text-center text-white">
			<!-- search bar -->
			<div class="input-group">
				<input type="text" class="form-control form-control-lg border-right-0">
				<div class="input-group-append">
					<button type="button" class="input-group-text bg-warning rounded-0">
						<i class="fa fa-search text-light"></i></button>
				</div>
			</div>
	
			<!-- login and create account button -->
			<a href="#" class="btn btn-warning w-50 mt-5">Acessar</a>
		</div>
	</div>
</div>