<div id="home">
    <!-- First section with background -->
    <section class="position-relative vh-100">
        <!-- background image -->
        <div id="background-image"></div>
        <!-- Search input -->
        <div class="container-fluid h-100">
            <div class="h-100 row justify-content-center align-items-center text-white">
                <div class="col-12 col-sm-8 col-md-8 col-lg-6">
                    <h3 class="pb-3">Encontre a vaga que sempre sonhou! </h3>
                    <form class="form-inline justify-content-md-center">
                        <div class="input-group search-group w-100">
                            <input id="input-search" type="search" class="form-control form-control-lg"
                                placeholder="Digite um cargo, Ex: Desenvolvedor">
                            <div class="input-group-append">
                                <button class="btn btn-lg btn-search" type="submit">
                                    <em class="fa fa-search"></em>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Second section with create account option -->
    <section class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-5 text-center">
                <h2>3jobs</h2>
                <p>
                    Ainda não encontrou a oportunidade ideal para você, ou o candidato que a sua empresa precisa? <br>
                    Nós temos a solução!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 container-persona">
                <span><i class="fa fa-user-plus"></i></span>
                <h3>Recrutador</h3>
                <p>Está sem tempo para buscar candidatos que se encaixem no perfil da sua vaga?
                    <br>A 3jobs irá te ajudar!
                    <br>Cadastre suas oportunidades, receba uma lista de candidatos filtrada por HeadHunters
                    e encontre a pessoa certa para sua vaga.</p>

                <a href="#" role="button" class="btn btn-outline-primary">Cadastrar</a>
            </div>
            <div class="col-md-4 container-persona">
                <span><i class="fa fa-users"></i></span>
                <h3>HeadHunter</h3>
                <p>Se considera qualificado para indicar candidatos á vagas? Você esta no lugar certo!
                    <br>Aqui você apresenta de forma prática e rápida pessoas que estão procurando por vagas.
                    <br>Se cadastre em nossa plataforma e facilite a vida de empresas e colaboradores!</p>
                <a href="#" role="button" class="btn btn-outline-primary">Cadastrar</a>
            </div>
            <div class="col-md-4 container-persona">
                <span><i class="fa fa-user"></i></span>
                <h3>Candidato</h3>
                <p>Procura pela oportunidade ideal que irá alavancar sua carreira? Nós temos a vaga que se encaixa no
                    seu perfil!
                    <br>Além de cadastrar seu currículo gratuitamente, você poderá receber orientações de um HeadHunter
                    durante o processo.
                </p>
                <a href="#" role="button" class="btn btn-outline-primary">Cadastrar</a>

            </div>
        </div>

    </section>
    <!-- add section -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="h-100 col-12 mt-5 mb-5 d-flex justify-content-center align-items-center bg-secondary">
                <h3>Anuncie Aqui</h3>
            </div>
        </div>
    </div>
</div>