/*-- add a margin bellow the header for the content --*/
.content {
    margin-top: 50px;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.cursor-pointer {
    cursor: pointer;
}

/*-- Use the already built bootstrap form classes with angular --*/
.ng-touched.ng-invalid {
    @extend .is-invalid;
}

.invalid-feedback {
    display: block;
}

/*-- The custom search input with a button style --*/
.search-group {
    .form-control {
        border-right: none;
    }
    .btn-search {
        border-left: none;
    }
}

.btn-search {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #1e5799;
}

.min-vh-100 {
	min-height: 100vh;
}