<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-0">
    <div class="row w-100 align-items-center m-auto">

        <div class="col-12 col-md-2 text-md-center">
            <button class="navbar-toggler mr-3 my-1 rounded-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-0" href="#"><i class="fa fa-area-chart"></i> 3 Jobs</a>
        </div>
        

        <div class="collapse navbar-collapse p-0 m-0" id="navbarTogglerDemo01">

            <ng-template [ngIf]="!isLogged" [ngIfElse]="searchNav">
                <div class="col-12 m-sm-auto col-md-10">
                    <form action="">
                        <div class="row justify-content-center">
                            <div class="col-12 offset-md-2 col-md-3 align-self-center">
                                <input type="text" class="form-control form-control-sm border-white bg-light rounded-0" placeholder="E-mail">
                            </div>
                            <div class="col-12 col-md-3 align-self-center">
                                <input type="password" class="form-control form-control-sm border-white bg-light rounded-0" placeholder="Senha">
                            </div>
                            <div class="col-12 col-md-4 align-self-center text-center">
                                <button class="btn btn-primary btn-sm rounded-0">Entrar</button>
                                <a href="#" class="btn btn-link">Esqueceu sua senha?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
    
            <ng-template #searchNav>
                <div class="col-12 col-md-6">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control border-right-0 border-white bg-light rounded-0">
                            <div class="input-group-append">
                                <span class="input-group-text bg-warning rounded-0 border-white"><i class="fa fa-search text-light"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="offset-md-2 col-md-4 text-light text-md-right text-center" style="font-size: 2em">
                    <i class="fa fa-cog pr-2"></i>
                    <i class="fa fa-bell"></i>
                    <i class="fa fa-user-circle text-light d-inline-flex pl-5 "></i>
                </div>
            </ng-template>
        </div>
    </div>
</nav>