<nav class="navbar navbar-dark bg-dark">
    <div class="row w-100 align-items-center">
        <div class="col-2 text-center">
            <a class="navbar-brand mr-0" href="#"><i class="fa fa-area-chart"></i> 3 Jobs</a>
        </div>

        <ng-template [ngIf]="!isLogged" [ngIfElse]="searchNav">
            <div class="col-10">
                <form action="">
                    <div class="row">
                        <div class="offset-3 col-3 align-self-center">
                            <input type="text" class="form-control form-control-sm" placeholder="E-mail">
                        </div>
                        <div class="col-3 align-self-center">
                            <input type="password" class="form-control form-control-sm" placeholder="Senha">
                        </div>
                        <div class="col-3 align-self-center">
                            <button class="btn btn-primary btn-sm">Entrar</button>
                            <a href="#" class="btn btn-link">Esqueceu sua senha?</a>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #searchNav>
            <div class="col-6">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text bg-light"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="offset-2 col-1 text-light text-center" style="font-size: 2em">
                <i class="fa fa-cog pr-2"></i>
                <i class="fa fa-bell"></i>
            </div>
            <div class="col-1 text-center" style="font-size: 2em">
                <i class="fa fa-user-circle text-light"></i>
            </div>
        </ng-template>
    </div>
</nav>