<nav class="navbar navbar-dark bg-dark">
    <div class="row w-100">
        <div class="col-2 text-center">
            <a class="navbar-brand mr-0" href="#"><i class="fa fa-area-chart"></i>TITULO E LOGO</a>
        </div>
        <div class="col-10">
            <form action="">
                <div class="row">
                    <div class="offset-3 col-3 align-self-center">
                        <input type="text" class="form-control form-control-sm" placeholder="E-mail">
                    </div>
                    <div class="col-3 align-self-center">
                        <input type="password" class="form-control form-control-sm" placeholder="Senha">
                    </div>
                    <div class="col-3 align-self-center">
                        <button class="btn btn-primary btn-sm">Entrar</button>
                        <a href="#" class="btn btn-link">Esqueceu sua senha?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>