<div class="modal fade" id="createVacancyModal" tabindex="-1" role="dialog" aria-labelledby="createVacancyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cadastrar Vaga</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #createVacancyForm="ngForm" (ngSubmit)="createVacancyForm.form.valid && onSubmit();">
                    <div class="form-group">
                        <label for="titleVacancy">Titulo</label>
                        <input type="text" class="form-control" id="titleVacancy" name="titleVacancy"
                            [(ngModel)]="model.title" #titleVacancy="ngModel" required>
                        <validation-message [inputControl]="titleVacancy"></validation-message>
                    </div>

                    <div class="form-group">
                        <label for="descriptionVacancy">Descrição da vaga</label>
                        <textarea class="form-control" id="descriptionVacancy" name="descriptionVacancy"
                            [(ngModel)]="model.description" #descriptionVacancy="ngModel" required>
                            </textarea>
                        <validation-message [inputControl]="descriptionVacancy"></validation-message>
                    </div>

                    <div class="form-group">
                        <label for="requirementVacancy">Requisitos</label>
                        <textarea class="form-control" id="requirementVacancy" name="requirementVacancy"
                            [(ngModel)]="model.requirement" #requirementVacancy="ngModel" required>
                            </textarea>
                        <validation-message [inputControl]="requirementVacancy"></validation-message>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-sm-6">
                            <label for="beginDateVacancy">Date Inicio</label>
                            <input class="form-control" type="date" id="beginDateVacancy" name="beginDateVacancy"
                                [(ngModel)]="model.beginDate" #beginDateVacancy="ngModel" required>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="endDateVacancy">Date Término</label>
                            <input class="form-control" type="date" id="endDateVacancy" name="endDateVacancy"
                                [(ngModel)]="model.endDate" #beginDateVacancy="ngModel" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="jobRoleVacancy">Cargo</label>
                        <input type="text" class="form-control" id="jobRoleVacancy" name="jobRoleVacancy"
                            [(ngModel)]="model.jobRole" #jobRoleVacancy="ngModel" required>
                        <validation-message [inputControl]="jobRoleVacancy"></validation-message>
                    </div>

                    <div class="form-group">
                        <label for="benefitVacancy">Benefícios </label>
                        <input type="text" class="form-control" id="benefitVacancy" name="benefitVacancy"
                            [(ngModel)]="model.benefit" #benefitVacancy="ngModel" required>
                        <validation-message [inputControl]="benefitVacancy"></validation-message>
                    </div>

                    <div class="form-group">
                        <label for="salaryValue">Salário</label>
                        <input type="number" class="form-control" name="salaryValue" id="salaryValue"
                            [(ngModel)]="model.salaryValue" #salaryValue="ngModel" required>
                        <validation-message [inputControl]="salaryValue"></validation-message>
                    </div>

                    <div class="form-group">
                        <label for="tagsVacancy">Palavras chaves <i class="ml-1 fa fa-info-circle" aria-hidden="true"
                                title="Separe as palavras chaves por virgula"></i> </label>
                        <input type="text" class="form-control" id="tags" name="tags"
                            placeholder="EX: java,pleno,docker" [(ngModel)]="tags" #tagsInput="ngModel" (change)="onTagsChange()">
                    </div>

                    <button type="submit" class="btn btn-primary"
                        [disabled]="!createVacancyForm.form.valid">Salvar</button>
                </form>

            </div>
        </div>
    </div>
</div>