<card-template title="Habilidades" [cardBodyContent]="abilities" cardBodyId="abilities">
    <ng-template #abilities>
        <!-- add abilities -->
        <form #skillForm="ngForm" (ngSubmit)="skillForm.form.valid && addSkill();">
            <div class=" form-row my-2">
                <label class="col-12 col-md-1" for="descriptionSkill">Habilidade</label>
                <input type="text" class="form-control form-control-sm col-12 col-md-2" name="descriptionSkill"
                    id="descriptionSkill"[(ngModel)]="descriptionSkill" #descriptionSkillField="ngModel">
                <button type="submit" class="btn btn-outline-success btn-sm col-12 col-md-1"
                    [disabled]="!skillForm.form.valid">Adicionar</button>
            </div>
        </form>
        <!-- abilities -->
        <div class="row">
            <table class="table table-striped col-12 col-md-4">
                <thead>
                    <tr>
                        <th scope="col">Conhecimento</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor="let skill of profile.skills">
                        <td>{{skill.description}}</td>
                        <td class="text-center"><button class="btn" (click)="deleteSkill(skill.id)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</card-template>