<div>
    <section style="min-height: 100vh; position: relative;">
        <div id="img-background-1"></div>
        <div style="height: 60px"></div>
        <div class="container pb-4">
            <div class="row">
                <div class="col-md-6 justify-content-md-center d-flex align-items-center text-white">
                    <div class="text-center ">
                        <h2 class="text-center font-weight-bold">Do que somos feitos</h2>
                        <p> A paixão pelo novo nos move, e essa busca exige além de talento, valores dos quais temos
                            orgulho
                            e não abrimos mão em nenhuma etapa do processo.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="inputName">Seu Nome</label>
                            <input type="text" class="form-control " id="inputName">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="inputSubject">Assunto</label>
                            <input type="text" class="form-control" id="inputSubject">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Menssagem</label>
                            <textarea class="form-control" id="inputMessage" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>