<app-navbar-home [isLogged]="true"></app-navbar-home>

<div class="container-fluid p-0">
  <div class="jumbotron jumbotron-fluid p-3 d-flex">
    <div class="mx-4">
      <img src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914_960_720.png" alt="..."
        class="imageProfile">
    </div>

    <div>
      <div class="d-flex justify-content-between align-items-center">
        <h2>Nome do Usuário</h2>
        <a class="btn btn-link" href="./">Editar</a>
      </div>

      <span class="d-inline-block w-100">(99) 9 9999-9999</span>
      <span class="d-inline-block w-100">Estado, Cidade</span>
      <p>
        Objetivo: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iste neque dignissimos dolore dicta
        voluptas libero qui laboriosam! Asperiores voluptates tempora iusto veniam vero quos iste, architecto temporibus
        corrupti magni.
      </p>
    </div>
  </div>

  <div class="jumbotron w-75 m-auto">
    <div *ngFor="let title of ['Formação Acadêmica', 'Habilidades', 'Experiência Profissional']">
      <div class="d-flex justify-content-between align-items-center">
        <h3>{{title}}</h3>
        <a class="btn btn-link" href="./">Editar</a>
      </div>
      <hr class="mt-0 bg-dark" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore ipsum repudiandae illum dignissimos,
        suscipit blanditiis in? Ipsam similique aperiam voluptates sint est minima, provident ea. Repellat nam officia
        non incidunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In non commodi minima impedit perspiciatis a
        perferendis molestiae, aperiam nam laboriosam blanditiis iste nulla, vel cumque earum esse ut accusantium
        doloribus.
      </p>
    </div>
  </div>
</div>