<div id="feedback">
    <!-- First section with background -->
    <section class="position-relative vh-100">
        <!-- background image -->
        <div id="background-image"></div>       
        <!-- Form area -->
        <div class="container h-100">
            <div class="h-100 row justify-content-md-center d-flex align-items-center">
                <div class="col-md-6 justify-content-md-center d-flex align-items-center text-white">
                    <div class="text-center ">
                        <h2 class="text-center font-weight-bold">
                            Sua opinião é muito importante para nós!
                        </h2>
                        <p>
                            Possui dúvidas ou gostaria de enviar sugestões?
                            <br> Entre em contato pelo formulário, estamos a disposição para te atender.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="inputName" class="text-white">Nome</label>
                            <input type="text" class="form-control " id="inputName">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="text-white">E-mail</label>
                            <input type="email" class="form-control" id="inputEmail">
                        </div>

                        <div class="form-group">
                            <label for="inputSubject" class="text-white">Assunto</label>
                            <input type="text" class="form-control" id="inputSubject">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage" class="text-white">Mensagem</label>
                            <textarea class="form-control" id="inputMessage" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>