<div class="d-flex flex-column vh-100">
    <section class="container-fluid mb-auto mt-4">
        <div class="jumbotron">
            <div *ngIf="isActivated !== null" class="card m-auto w-50"> 
                <div class="text-center">
                    <i *ngIf="isActivated" class="fa fa-check-circle text-success" style="font-size: 10rem;"></i>
                    <i *ngIf="!isActivated" class="fa fa-times-circle text-danger" style="font-size: 10rem;"></i>
                </div>
                <div *ngIf="isActivated" class="card-body">
                    <h5 class="card-title">E-mail confirmado com sucesso!</h5>
                    <p class="card-text">
                        Usuário ativado. Agora você acessar o sistema.
                    </p>
                    <a routerLink="/" class="btn btn-primary">Ir para página inicial</a>
                </div>
                <div *ngIf="!isActivated" class="card-body">
                    <h5 class="card-title">Falha ao confrimar o E-mail!</h5>
                    <p class="card-text">
                        Tente novamente mais tarde.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>